body {
    color: #aa0b25;
    font-family: 'roboto', sans-serif;
}

.black-border {
    border: 5px solid rgb(247, 246, 246);  
}

.title-font {
    font-family: 'Lobster', cursive;
}

#background-color {
    background-color: rgb(252, 239, 206);
}